Repository joergi/dependabot_monorepo_update, changes with the labels that .github/labeler.yml gives for each.
All labels: demoA, demoB, demoC

Update DemoApplicationTests.kt
  demoA/src/test/kotlin/com/example/demo/DemoApplicationTests.kt
Labels: demoA

Adds empty commit for triggering
  .github/workflows/labeler.yml
Labels: none

B Update DemoApplicationTests.kt
  demoB/src/test/kotlin/com/example/demo/DemoApplicationTests.kt
Labels: demoB

uses PAT
  .github/workflows/labeler.yml
Labels: none

Update DemoApplicationTests.kt
  demoA/src/test/kotlin/com/example/demo/DemoApplicationTests.kt
Labels: demoA

uses PAT, removes triggering
  .github/workflows/labeler.yml
Labels: none

Update DemoApplicationTests.kt
  demoB/src/test/kotlin/com/example/demo/DemoApplicationTests.kt
Labels: demoB

config git
  .github/workflows/labeler.yml
Labels: none

Update DemoApplicationTests.kt
  demoC/src/test/kotlin/com/example/demo/DemoApplicationTests.kt
Labels: demoC

pushes git to remote branch
  .github/workflows/labeler.yml
Labels: none

Update DemoApplicationTests.kt
  demoC/src/test/kotlin/com/example/demo/DemoApplicationTests.kt
Labels: demoC

Update DemoApplicationTests.kt
  demoA/src/test/kotlin/com/example/demo/DemoApplicationTests.kt
Labels: demoA

uses git pull before push
  .github/workflows/labeler.yml
Labels: none

Update DemoApplicationTests.kt
  demoC/src/test/kotlin/com/example/demo/DemoApplicationTests.kt
Labels: demoC

uses git pull before push
  .github/workflows/labeler.yml
Labels: none

Update DemoApplicationTests.kt
  demoA/src/test/kotlin/com/example/demo/DemoApplicationTests.kt
Labels: demoA

uses git checkout
  .github/workflows/labeler.yml
Labels: none

Update DemoApplicationTests.kt
  demoB/src/test/kotlin/com/example/demo/DemoApplicationTests.kt
Labels: demoB

uses git checkout
  .github/workflows/labeler.yml
Labels: none

Update DemoApplicationTests.kt
  demoB/src/test/kotlin/com/example/demo/DemoApplicationTests.kt
Labels: demoB

uses git fetch
  .github/workflows/labeler.yml
Labels: none

Update DemoApplicationTests.kt
  demoB/src/test/kotlin/com/example/demo/DemoApplicationTests.kt
Labels: demoB

uses git fetch
  .github/workflows/labeler.yml
Labels: none

Update DemoApplicationTests.kt
  demoB/src/test/kotlin/com/example/demo/DemoApplicationTests.kt
Labels: demoB

remove empty commit for now
  .github/workflows/labeler.yml
Labels: none

rollback dependenceis for dependabot
  demoA/build.gradle.kts
  demoB/build.gradle.kts
  demoC/build.gradle.kts
Labels: demoA, demoB, demoC

checking for testing libs.versions.toml
  demoA/build.gradle.kts
  demoA/gradle/libs.versions.toml
  demoA/settings.gradle.kts
  demoB/build.gradle.kts
  demoB/settings.gradle.kts
  demoC/settings.gradle.kts
Labels: demoA, demoB, demoC

Update libs.versions.toml
  demoA/gradle/libs.versions.toml
Labels: demoA

uses libs.version.toml for all projects
  demoB/build.gradle.kts
  demoB/gradle/libs.versions.toml
  demoC/build.gradle.kts
  demoC/gradle/libs.versions.toml
Labels: demoB, demoC

uses 1 libs.versions.toml for all 3 projects
  demoA/settings.gradle.kts
  demoB/gradle/libs.versions.toml
  demoB/settings.gradle.kts
  demoC/build.gradle.kts
  demoC/gradle/libs.versions.toml
  demoC/settings.gradle.kts
  gradle/libs.versions.toml
Labels: demoA, demoB, demoC

removes extra lines
  demoA/build.gradle.kts
  demoB/build.gradle.kts
Labels: demoA, demoB

uses changes at the toml file for testing all3 projects
  .github/workflows/testing-demoA.yml
  .github/workflows/testing-demoB.yml
  .github/workflows/testing-demoC.yml
Labels: none

make dependabot changes and test all projects
  .github/dependabot.yml
Labels: none

downgrading all versions
  gradle/libs.versions.toml
Labels: none

fixes dependabot
  .github/dependabot.yml
  .github/workflows/testing-demoA.yml
  .github/workflows/testing-demoB.yml
  .github/workflows/testing-demoC.yml
Labels: none

.github/labeler.yml:

demoA:
  - demoA/**/*
  
demoB:
  - demoB/**/*

demoC:
  - demoC/**/*
