Repository joergi/dependabot_monorepo_update, changes with the labels that .github/labeler.yml gives for each.
All labels: demoA, demoB, demoC

.github/labeler.yml:

demoA:
  - demoA/**/*
  
demoB:
  - demoB/**/*

demoC:
  - demoC/**/*

tests the labels
  demoA/README.md
Labels: demoA

adds v for version
  .github/workflows/labeler.yml
Labels: none

uses pull_request_target instead of on target
  .github/workflows/labeler.yml
Labels: none

use pull_request instead of on pull_request_target
  .github/workflows/labeler.yml
Labels: none

adds actions/checkout@v4 for the labeler
  .github/workflows/labeler.yml
Labels: none

adds workflow_dispatch: {} for starting the workflow manual
  .github/workflows/labeler.yml
Labels: none

Update DemoApplication.kt
  demoB/src/main/kotlin/com/example/demo/DemoApplication.kt
Labels: demoB

specify labeler
  .github/workflows/labeler.yml
Labels: none

Update DemoApplicationTests.kt
  demoC/src/test/kotlin/com/example/demo/DemoApplicationTests.kt
Labels: demoC

adds permissions
  .github/workflows/labeler.yml
Labels: none

Reverts dependency to see automerge
  demoA/build.gradle.kts
  demoB/build.gradle.kts
  demoC/build.gradle.kts
Labels: demoA, demoB, demoC

Update DemoApplicationTests.kt
  demoC/src/test/kotlin/com/example/demo/DemoApplicationTests.kt
Labels: demoC

Reverts dependency to see automerge
  .github/workflows/labeler.yml
Labels: none

Adds gh token
  .github/workflows/labeler.yml
Labels: none

Adds run for all workflows after labeling
  .github/workflows/labeler.yml
Labels: none

Adds { ] for workflow_dispatch
  .github/workflows/testing-demoA.yml
  .github/workflows/testing-demoB.yml
  .github/workflows/testing-demoC.yml
Labels: none

Adds permission to labeler workflow
  .github/workflows/labeler.yml
Labels: none

Adds permission to labeler workflow
  .github/workflows/labeler.yml
Labels: none

Update Demo A
  demoA/src/test/kotlin/com/example/demo/DemoApplicationTests.kt
Labels: demoA

Adds permission to test workflows
  .github/workflows/testing-demoA.yml
  .github/workflows/testing-demoB.yml
  .github/workflows/testing-demoC.yml
Labels: none

Update DemoApplicationTests.kt
  demoA/src/test/kotlin/com/example/demo/DemoApplicationTests.kt
Labels: demoA

Makes single calls for each restart of a workflow
  .github/workflows/labeler.yml
Labels: none

Uses PAT insead of secret for workflow
  .github/workflows/labeler.yml
Labels: none

Update DemoApplicationTests demoC
  demoC/src/test/kotlin/com/example/demo/DemoApplicationTests.kt
Labels: demoC

uses -head-ref for PR reruns
  .github/workflows/labeler.yml
Labels: none

Demo B Update DemoApplicationTests.kt
  demoB/src/test/kotlin/com/example/demo/DemoApplicationTests.kt
Labels: demoB

Test
  demoB/src/test/kotlin/com/example/demo/DemoApplicationTests.kt
Labels: demoB

give full permissions to everything
  .github/workflows/labeler.yml
  .github/workflows/testing-demoA.yml
  .github/workflows/testing-demoB.yml
  .github/workflows/testing-demoC.yml
Labels: none

reads labels and runs yaml file
  .github/workflows/labeler.yml
  .github/workflows/testing-demoA.yml
  .github/workflows/testing-demoB.yml
  .github/workflows/testing-demoC.yml
Labels: none

Demo B Update DemoApplicationTests.kt
  demoB/src/test/kotlin/com/example/demo/DemoApplicationTests.kt
Labels: demoB

moves read label as a step
  .github/workflows/labeler.yml
Labels: none

DemoAUpdate DemoApplication.kt
  demoA/src/main/kotlin/com/example/demo/DemoApplication.kt
Labels: demoA

Add on workflow run
  .github/workflows/testing-demoA.yml
  .github/workflows/testing-demoB.yml
  .github/workflows/testing-demoC.yml
Labels: none

Update DemoApplicationTests.kt
  demoC/src/test/kotlin/com/example/demo/DemoApplicationTests.kt
Labels: demoC

set sha
  .github/workflows/labeler.yml
  .github/workflows/testing-demoA.yml
  .github/workflows/testing-demoB.yml
Labels: none

demo c Update DemoApplicationTests.kt
  demoC/src/test/kotlin/com/example/demo/DemoApplicationTests.kt
Labels: demoC

read labels after sha
  .github/workflows/labeler.yml
Labels: none

AUpdate DemoApplicationTests.kt
  demoA/src/test/kotlin/com/example/demo/DemoApplicationTests.kt
Labels: demoA

waits for the other jobs
  .github/workflows/labeler.yml
Labels: none

waits for the other jobs
  .github/workflows/testing-demoA.yml
  .github/workflows/testing-demoB.yml
  .github/workflows/testing-demoC.yml
Labels: none
